<!-- <p>home works!</p>
<button [routerLink]="[ '/sidebar' ]" routerLinkActive="active">Sidebar</button> -->


<!-- <nb-layout>
    <nb-layout-header fixed>My Header</nb-layout-header>
    <nb-sidebar #sidebar>
       
      </nb-sidebar>
    <nb-layout-column>
      <button nbButton status="primary">Primary Button</button>
    </nb-layout-column>
  </nb-layout> -->

  <!-- <nb-layout>
    <nb-layout-header fixed>
        <button nbButton status="primary" (click)="toggleSidebar()">
            <nb-icon icon="menu-outline"></nb-icon>
          </button>
       &nbsp; &nbsp;   My Header</nb-layout-header>
    <nb-sidebar> -->
      <!-- Sidebar content here -->
      <!-- <nb-menu [items]="items"></nb-menu>
    
    </nb-sidebar>
    <nb-layout-column>
      Page Content
      
    </nb-layout-column>
  </nb-layout>
   -->
   <h1>home</h1>